<!--
    ##########
   #          #
   #    OK    #
   #          #
   #          #
    ##########
Yes, that's the best I can do, sorry ¯\_(ツ)_/¯
-->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %} | OKCart</title>
	{% load static %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'shop/main.css' %}">
	{% block customhead %}{% endblock %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="theme-color" content="#101010">
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
			    	<span class="sr-only">Toggle navigation</span>
			    	<span class="icon-bar"></span>
					<span class="icon-bar"></span>
			   		<span class="icon-bar"></span>
			    </button>
				<a href="{% url 'shop:homepage' %}" class="navbar-brand">OKCart<sup><small>BETA</small></sup></a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse-1">
                <form action="{% url 'shop:search' %}" method="get" class="navbar-form navbar-left search-bar">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" value="{{query}}" class="form-control" placeholder="Search" name="query">
                            <a class="input-group-addon btn btn-default">Search</a>
                        </div>
                    </div>
                </form>
				<ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}
					<li class="dropdown">
						<a href="#" role="button" id="dlabel" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="dlabel">
							<li><a href="{% url 'shop:shop' request.user.username %}">My shop</a></li>
							<li><a href="{% url 'shop:dashboard' %}">Dashboard</a></li>
							<li class="divider" role="separator"></li>
							<li><a href="{% url 'shop:purchases' %}">Purchase history</a></li>
							<li><a href="{% url 'shop:keys' %}">Keys and downloads</a></li>
							<li><a href="{% url 'shop:orders' %}">Orders</a></li>
							<li class="divider" role="separator"></li>
							<li><a href="{% url 'shop:settings' %}">Settings</a></li>
						</ul>
					</li>
					<li><a href="{% url 'shop:wallets' %}">Wallets</a></li>
					<li><a href="{% url 'shop:cart' %}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Cart <span class="badge">{{ request.user.cart.cartentry_set.count }}</span></a></li>
					<li><a href="{% url 'shop:logout' %}?next={{ request.path }}">Logout</a></li>
					{% else %}
					<li><a href="{% url 'shop:register' %}?next={{ request.path }}">Register</a></li>
					<li><a href="{% url 'shop:login' %}?next={{ request.path }}">Login</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
	<div id="vue-app">
		<div class="container">
			{% if messages %}
			{% for message in messages %}
			<div class="alert alert-{{ message.tags }} alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{ message }}
			</div>
			{% endfor %}
			{% endif %}
			{% block body %}
			{% endblock %}
		</div>
		{% block modals %}{% endblock %}
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script>
		$(document).ready(function(){
		    $('[data-toggle="tooltip"]').tooltip();
		});
	</script>
	{% block extrascripts %}{% endblock %}
</body>
</html>
