{% extends "shop/authbase.html" %}
{% block title %}Register{% endblock %}
{% block body %}
<div class="panel panel-default">
	<form method="post" class="form-horizontal panel-body">
		{% csrf_token %}
		<div class="form-group">
			<label for="username" class="col-sm-2 control-label">Username</label>
			<div class="col-sm-10">
				<input type="text" placeholder="Username" class="form-control" id="username" name="username" value="{{ request.POST.username }}">
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="col-sm-2 control-label">Email</label>
			<div class="col-sm-10">
				<input type="email" placeholder="Email" class="form-control" id="email" name="email" value="{{ request.POST.email }}">
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-10">
				<input type="password" placeholder="Password" class="form-control" id="password" name="password">
			</div>
		</div>
		<div class="form-group">
			<label for="passwordconfirm" class="col-sm-2 control-label">Confirm password</label>
			<div class="col-sm-10">
				<input type="password" placeholder="Confirm Password" class="form-control" id="passwordconfirm" name="passwordconfirm">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Register</button>
				Already have an account? <a href="{% url 'shop:login' %}?next={{request.GET.next}}">Log in!</a>
			</div>
		</div>
	</form>
</div>
{% endblock %}